/.metadata/
/.git/
/libraries/
/RemoteSystemsTempFiles/
/Servers/
/.gitignore
/.DS_Store
/GamifiedMarketingAppWEB/src/META-INF/
/GamifiedMarketingAppWEB/src/it/polimi/.DS_Store
/resources/.DS_Store
/resources/scripts/.DS_Store