<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Creation</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Home}">Home</a>
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<p align="center">In this section it is possible to create a product and the related Marketing questions. Please input the number of questions to be created</p>
	
	<form th:if="${questionNumber} == null" th:action="@/CreateMarketingQuestionnaire" th:object="${questionNumber}" method="post">
		<input type="number" th:name="${questionNumber}" required></input>
	</form>
	
	<form th:if="${questionNumber} > 0" th:action="CreateDailyEntry" th:object="${dailyEntry}" method="POST">
		<input type='text' th:field="#{productName}" required></input>
		<input type='date' th:field="#{date}" required></input>
		<input type='file' th:field="#{image}" required></input>
		<th:block th:each="i: ${#numbers.sequence(0, questionNumber - 1)}">
			<input type='text' th:field="#{marketingQuestions[i].text" required>
    		<div th:with="questionType=-1">
  				<input type='number' th:field="#{marketingQuestions[i].upperBound}" required></input>
    			<input type='boolean' th:field="#{marketingQuestions[i].upperBound}" required></input>
			</div>
		</th:block>
	</form>
	
</body>
</html>