<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1 align="center">Gamified Marketing App</h1>
	<p align="center"
		th:text="${'Welcome back' + (session.user.name != null ? ', ' + session.user.name : '') + '. You logged in as ' + session.user.role.name + '.'}"></p>
	<div>
		<h3>Product of the day</h3>
		<div>
			<h4 th:text="${product.name}"></h4>
			<a th:href="@{/FillQuestionnaire}">Fill Questionnaire</a>
		</div>
	</div>

</body>
</html>