<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1 align="center">Gamified Marketing App</h1>
	<p align="center"
		th:text="${'Welcome back' + (session.user.name != null ? ', ' + session.user.name : '') + '. You logged in as ' + session.user.role.name + '.'}"></p>
	<div align="center" th:if="${session.user.getRole().getId==2}">
	<div th:if="${product!=null}">
	<div>
		<h3>Product of the day</h3>
		<div>
			<h4 th:text="${product.name}"></h4>
			<!-- <img alt="photo" th:src="*{'data:image/png;base64,'+ dataService.getPicture(product.id)}"> -->
			<a th:href="@{/FillQuestionnaire}">Fill Questionnaire</a>
		</div>
	</div>
	
	<div>
		<div>
			<a th:href="@{/Leaderboard}">Leaderboard</a>
		</div>
	</div>
	
	<form>
	<h1 align="center">Reviews</h1>
			<div th:each="f : ${dataService.getReviews(product.id,5)}">
				<p th:text="${f.title}"></p>
				<p th:text="${f.text}"></p>
				<hr style="border-top: 3px solid #bbb;">
			</div>
			
			<div>
	        <p align="center" th:if="${dataService.getReviews(product.id,5) == null}">
		     NO REVIEWS
	        </p>
	        </div>
		
	
    </form>
    </div>
    </div>
    
    
    <div align="center" th:if="${session.user.getRole().getId==1}">
    
    <div>
		<div>
			<a th:href="@{/CreationPage}"> Create a Daily Entry </a>
		</div>
	</div>
	
	
     <div>
		<div>
			<a th:href="@{/InspectionAndDeletion}"> Inspect a/o delete questionnaire </a>
		</div>
	</div>
	
    
    
    </div>
    

</body>
</html>