<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>InspectionAndDeletion</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Home}">Home</a>
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<i>Insert number of questionnaire you want display</i>
	<form action="DeleteQuestionnaire" method="GET">
    <input type="text" name="page" placeholder="number" />
    <div class="clearfix">
        <button type="submit">Inspect</button>
    </div>
   </form>
   <div th:if="${questionnaires != null}">
        <div th:each="questionnaire : ${questionnaires}">
        	<div th:text="${questionnaire.productName} + ' ' + ${questionnaire.questionnaireDate}">
        	        <form class="button" action="DeleteQuestionnaire" method="POST">
                        <input type="submit" th:name="{date}" th:field="${questionnaire.questionnaireDate}"/>
                    </form>
            </div>
        	<!-- <li>
        		<ul>
        			<li th:each="canceledUser : ${questionnaire.usersCanceled}" th:text="${canceledUser.username}"></li>
   				</ul>
        	</li>
        	 -->
        	<div>
        		<div th:each="submission : ${questionnaires}">
        			<div th:each="user : ${submission.getUsersModel()}">
        			   <div th:text="${user.username}"></div>
        			   <div th:if="${answer!=null}">
        				<ul th:each="answer : ${user.getUsersAnswer()}">
        					<li th:text="${answer.getQuestion().text}"></li>
        					<li th:if="${answer.rangeValue == null && answer.answerChoices == null}" th:text="${answer.text}"></li>
        					<li th:if="${answer.rangeValue != null && answer.answerChoices == null}" th:text="${answer.rangeValue}"></li>
        					<li th:if="${answer.rangeValue == null && answer.answerChoices != null}">
        						<ul>
        							<li th:each="c : ${answer.choices}" th:choice="c.id"></li>
        						</ul>
        					</li>
        				</ul>
        			   </div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</body>
</html>